# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.sln
*.swp
*.swo

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

